{% load subreddit_extras %}


<div class="dropdown">
  <button class="orange btn btn-lg btn-dark dropdown-toggle" type="button" id="subreddit-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ dropdown_label }}
  </button>
  <div class="dropdown-menu" aria-labelledby="subreddit-dropdown">
    <h6 class="dropdown-header">Subreddits</h6>
    <div class="dropdown-divider"></div>
    {% for sub in popular_subs %}
      <a class="dropdown-item" href="{% url 'subreddit:subreddit' sub.display_name  %}">{{ sub.display_name }}</a>
    {% endfor %}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{% url 'subreddit:about' %}">About the Author</a>
  </div>
</div>

